In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

2022-11-20 13:09:46,764 WARN util.Utils: Your hostname, keerthana-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
2022-11-20 13:09:46,766 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/share/spark/jars/spark-unsafe_2.12-3.2.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2022-11-20 13:09:48,180 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
#Ecommerce October 2019 Data
ecom_oct_df=spark.read.load("file:///home/Shubham/Downloads/Project/Datasets/ecom_oct_2019.csv",format="csv",header="true",escape="\"")
ecom_oct_df.printSchema()
ecom_oct_df.show(5)

from pyspark.sql.types import StringType, DateType, FloatType, IntegerType
ecom_oct_df = ecom_oct_df.withColumn("product_id", ecom_oct_df["product_id"].cast(IntegerType())).withColumn("price", ecom_oct_df["price"].cast(FloatType()))
ecom_oct_df.printSchema()

from pyspark.sql.functions import *
ecom_oct_df_1 = ecom_oct_df.withColumn("event_time",to_date("event_time"))
ecom_oct_df_1.show(5)

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+--------------------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|          event_time|event_type|product_id|        category_id|category_code| brand|price|  user_id|        user_session|
+--------------------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|2019-10-01 00:00:...|      cart|   5773203|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01 00:00:...|      cart|   5773353|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01 00:00:...|      cart|   5881589|2151191071051219817|         null|lovely|13.48|429681830|49e8d843-adf3-428...|
|2019-10-01 00:00:...|      cart|   5723490|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01 00:00:...|      cart|   5881449|1487580013522845895|         null|lovely| 0.56|429681830|49e8d843-adf3-428...|
+--------------------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
only showing top 5 rows

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: float (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|event_time|event_type|product_id|        category_id|category_code| brand|price|  user_id|        user_session|
+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|2019-10-01|      cart|   5773203|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01|      cart|   5773353|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01|      cart|   5881589|2151191071051219817|         null|lovely|13.48|429681830|49e8d843-adf3-428...|
|2019-10-01|      cart|   5723490|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01|      cart|   5881449|1487580013522845895|         null|lovely| 0.56|429681830|49e8d843-adf3-428...|
+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
only showing top 5 rows

In [6]:
#Ecommerce November 2019 Data
ecom_nov_df=spark.read.load("file:///home/Shubham/Downloads/Project/Datasets/ecom_nov_2019.csv",format="csv",header="true",escape="\"")
ecom_nov_df.printSchema()
ecom_nov_df.show(5)

from pyspark.sql.types import StringType, DateType, FloatType, IntegerType
ecom_nov_df = ecom_nov_df.withColumn("product_id", ecom_nov_df["product_id"].cast(IntegerType())).withColumn("price", ecom_nov_df["price"].cast(FloatType()))
ecom_nov_df.printSchema()

from pyspark.sql.functions import *
ecom_nov_df_1 = ecom_nov_df.withColumn("event_time",to_date("event_time"))
ecom_nov_df_1.show(5)

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+--------------------+----------------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|          event_time|      event_type|product_id|        category_id|category_code|   brand|price|  user_id|        user_session|
+--------------------+----------------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|2019-11-01 00:00:...|            view|   5802432|1487580009286598681|         null|    null| 0.32|562076640|09fafd6c-6c99-46b...|
|2019-11-01 00:00:...|            cart|   5844397|1487580006317032337|         null|    null| 2.38|553329724|2067216c-31b5-455...|
|2019-11-01 00:00:...|            view|   5837166|1783999064103190764|         null|     pnb|22.22|556138645|57ed222e-a54a-490...|
|2019-11-01 00:00:...|            cart|   5876812|1487580010100293687|         null|jessnail| 3.16|564506666|186c1951-8052-4b3...|
|2019-11-01 00:00:...|remove_from_cart|   5826182|1487580007483048900|         null|    null| 3.33|553329724|2067216c-31b5-455...|
+--------------------+----------------+----------+-------------------+-------------+--------+-----+---------+--------------------+
only showing top 5 rows

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: float (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+----------+----------------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|event_time|      event_type|product_id|        category_id|category_code|   brand|price|  user_id|        user_session|
+----------+----------------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|2019-11-01|            view|   5802432|1487580009286598681|         null|    null| 0.32|562076640|09fafd6c-6c99-46b...|
|2019-11-01|            cart|   5844397|1487580006317032337|         null|    null| 2.38|553329724|2067216c-31b5-455...|
|2019-11-01|            view|   5837166|1783999064103190764|         null|     pnb|22.22|556138645|57ed222e-a54a-490...|
|2019-11-01|            cart|   5876812|1487580010100293687|         null|jessnail| 3.16|564506666|186c1951-8052-4b3...|
|2019-11-01|remove_from_cart|   5826182|1487580007483048900|         null|    null| 3.33|553329724|2067216c-31b5-455...|
+----------+----------------+----------+-------------------+-------------+--------+-----+---------+--------------------+
only showing top 5 rows

In [7]:
#Ecommerce December 2019 Data
ecom_dec_df=spark.read.load("file:///home/Shubham/Downloads/Project/Datasets/ecom_dec_2019.csv",format="csv",header="true",escape="\"")
ecom_dec_df.printSchema()
ecom_dec_df.show(5)

from pyspark.sql.types import StringType, DateType, FloatType, IntegerType
ecom_dec_df = ecom_dec_df.withColumn("product_id", ecom_dec_df["product_id"].cast(IntegerType())).withColumn("price", ecom_dec_df["price"].cast(FloatType()))
ecom_dec_df.printSchema()

from pyspark.sql.functions import *
ecom_dec_df_1 = ecom_dec_df.withColumn("event_time",to_date("event_time"))
ecom_dec_df_1.show(5)

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+--------------------+----------------+----------+-------------------+-------------+---------+-----+---------+--------------------+
|          event_time|      event_type|product_id|        category_id|category_code|    brand|price|  user_id|        user_session|
+--------------------+----------------+----------+-------------------+-------------+---------+-----+---------+--------------------+
|2019-12-01 00:00:...|remove_from_cart|   5712790|1487580005268456287|         null|    f.o.x| 6.27|576802932|51d85cb0-897f-48d...|
|2019-12-01 00:00:...|            view|   5764655|1487580005411062629|         null|      cnd|29.05|412120092|8adff31e-2051-489...|
|2019-12-01 00:00:...|            cart|      4958|1487580009471148064|         null|   runail| 1.19|494077766|c99a50e8-2fac-4c4...|
|2019-12-01 00:00:...|            view|   5848413|1487580007675986893|         null|freedecor| 0.79|348405118|722ffea5-73c0-492...|
|2019-12-01 00:00:...|            view|   5824148|1487580005511725929|         null|     null| 5.56|576005683|28172809-7e4a-45c...|
+--------------------+----------------+----------+-------------------+-------------+---------+-----+---------+--------------------+
only showing top 5 rows

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: float (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+----------+----------------+----------+-------------------+-------------+---------+-----+---------+--------------------+
|event_time|      event_type|product_id|        category_id|category_code|    brand|price|  user_id|        user_session|
+----------+----------------+----------+-------------------+-------------+---------+-----+---------+--------------------+
|2019-12-01|remove_from_cart|   5712790|1487580005268456287|         null|    f.o.x| 6.27|576802932|51d85cb0-897f-48d...|
|2019-12-01|            view|   5764655|1487580005411062629|         null|      cnd|29.05|412120092|8adff31e-2051-489...|
|2019-12-01|            cart|      4958|1487580009471148064|         null|   runail| 1.19|494077766|c99a50e8-2fac-4c4...|
|2019-12-01|            view|   5848413|1487580007675986893|         null|freedecor| 0.79|348405118|722ffea5-73c0-492...|
|2019-12-01|            view|   5824148|1487580005511725929|         null|     null| 5.56|576005683|28172809-7e4a-45c...|
+----------+----------------+----------+-------------------+-------------+---------+-----+---------+--------------------+
only showing top 5 rows

In [8]:
#Ecommerce January 2020 Data
ecom_jan_df=spark.read.load("file:///home/Shubham/Downloads/Project/Datasets/ecom_jan_2020.csv",format="csv",header="true",escape="\"")
ecom_jan_df.printSchema()
ecom_jan_df.show(5)

from pyspark.sql.types import StringType, DateType, FloatType, IntegerType
ecom_jan_df = ecom_jan_df.withColumn("product_id", ecom_jan_df["product_id"].cast(IntegerType())).withColumn("price", ecom_jan_df["price"].cast(FloatType()))
ecom_jan_df.printSchema()

from pyspark.sql.functions import *
ecom_jan_df_1 = ecom_jan_df.withColumn("event_time",to_date("event_time"))
ecom_jan_df_1.show(5)

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|          event_time|event_type|product_id|        category_id|category_code|   brand|price|  user_id|        user_session|
+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|2020-01-01 00:00:...|      view|   5809910|1602943681873052386|         null| grattol| 5.24|595414620|4adb70bb-edbd-498...|
|2020-01-01 00:00:...|      view|   5812943|1487580012121948301|         null|kinetics| 3.97|595414640|c8c5205d-be43-4f1...|
|2020-01-01 00:00:...|      view|   5798924|1783999068867920626|         null|  zinger| 3.97|595412617|46a5010f-bd69-4fb...|
|2020-01-01 00:00:...|      view|   5793052|1487580005754995573|         null|    null| 4.92|420652863|546f6af3-a517-475...|
|2020-01-01 00:00:...|      view|   5899926|2115334439910245200|         null|    null| 3.92|484071203|cff70ddf-529e-4b0...|
+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
only showing top 5 rows

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: float (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+----------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|event_time|event_type|product_id|        category_id|category_code|   brand|price|  user_id|        user_session|
+----------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|2020-01-01|      view|   5809910|1602943681873052386|         null| grattol| 5.24|595414620|4adb70bb-edbd-498...|
|2020-01-01|      view|   5812943|1487580012121948301|         null|kinetics| 3.97|595414640|c8c5205d-be43-4f1...|
|2020-01-01|      view|   5798924|1783999068867920626|         null|  zinger| 3.97|595412617|46a5010f-bd69-4fb...|
|2020-01-01|      view|   5793052|1487580005754995573|         null|    null| 4.92|420652863|546f6af3-a517-475...|
|2020-01-01|      view|   5899926|2115334439910245200|         null|    null| 3.92|484071203|cff70ddf-529e-4b0...|
+----------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
only showing top 5 rows

In [9]:
#Ecommerce February 2020 Data
ecom_feb_20_df=spark.read.load("file:///home/Shubham/Downloads/Project/Datasets/ecom_feb_2020.csv",format="csv",header="true",escape="\"")
ecom_feb_20_df.printSchema()
ecom_feb_20_df.show(5)

from pyspark.sql.types import StringType, DateType, FloatType, IntegerType
ecom_feb_20_df = ecom_feb_20_df.withColumn("product_id", ecom_feb_20_df["product_id"].cast(IntegerType())).withColumn("price", ecom_feb_20_df["price"].cast(FloatType()))
ecom_feb_20_df.printSchema()

from pyspark.sql.functions import *
ecom_feb_df_1 = ecom_feb_20_df.withColumn("event_time",to_date("event_time"))
ecom_feb_df_1.show(5)

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+--------------------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|          event_time|event_type|product_id|        category_id|category_code| brand|price|  user_id|        user_session|
+--------------------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|2020-02-01 00:00:...|      cart|   5844305|1487580006317032337|         null|  null| 2.14|485174092|4be9643a-420b-4c6...|
|2020-02-01 00:00:...|      view|   5769925|1487580013841613016|         null|kapous| 4.22|594621622|a88baf11-9cd0-436...|
|2020-02-01 00:00:...|      view|   5817765|1487580008246412266|         null|zeitun|11.03|495404942|3a569c8d-d848-4f0...|
|2020-02-01 00:00:...|      view|   5877033|1487580010100293687|         null|  milv| 3.49|564814969|7feb39e5-bb7b-4b2...|
|2020-02-01 00:00:...|      cart|   5814871|1487580008112194531|         null|zinger| 2.54|551205603|106a7c7f-7fa1-446...|
+--------------------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
only showing top 5 rows

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: float (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|event_time|event_type|product_id|        category_id|category_code| brand|price|  user_id|        user_session|
+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|2020-02-01|      cart|   5844305|1487580006317032337|         null|  null| 2.14|485174092|4be9643a-420b-4c6...|
|2020-02-01|      view|   5769925|1487580013841613016|         null|kapous| 4.22|594621622|a88baf11-9cd0-436...|
|2020-02-01|      view|   5817765|1487580008246412266|         null|zeitun|11.03|495404942|3a569c8d-d848-4f0...|
|2020-02-01|      view|   5877033|1487580010100293687|         null|  milv| 3.49|564814969|7feb39e5-bb7b-4b2...|
|2020-02-01|      cart|   5814871|1487580008112194531|         null|zinger| 2.54|551205603|106a7c7f-7fa1-446...|
+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
only showing top 5 rows

In [11]:
ecom_dataframe = ecom_oct_df_1.union(ecom_nov_df_1).union(ecom_dec_df_1).union(ecom_jan_df_1).union(ecom_feb_df_1)

In [12]:
ecom_dataframe.show(5)

+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|event_time|event_type|product_id|        category_id|category_code| brand|price|  user_id|        user_session|
+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
|2019-10-01|      cart|   5773203|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01|      cart|   5773353|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01|      cart|   5881589|2151191071051219817|         null|lovely|13.48|429681830|49e8d843-adf3-428...|
|2019-10-01|      cart|   5723490|1487580005134238553|         null|runail| 2.62|463240011|26dd6e6e-4dac-477...|
|2019-10-01|      cart|   5881449|1487580013522845895|         null|lovely| 0.56|429681830|49e8d843-adf3-428...|
+----------+----------+----------+-------------------+-------------+------+-----+---------+--------------------+
only showing top 5 rows

In [ ]:
ecom_dataframe.select(col('event_time')).unique()

In [13]:
ecom_dataframe.count()

20692840

In [14]:
covid_df=spark.read.load("file:///home/Shubham/Downloads/Project/Datasets/covid_world_Data.csv",format="csv",header="true",escape="\"")
covid_df.printSchema()
covid_df.show(5)

from pyspark.sql.types import StringType, DateType, FloatType, IntegerType
from pyspark.sql.functions import *
covid_df_1 = covid_df.withColumn("Date",to_date("Date"))

from pyspark.sql.types import StringType, DateType, FloatType, IntegerType
covid_df_1 = covid_df_1.withColumn("Confirmed", covid_df_1["Confirmed"].cast(IntegerType())).withColumn("Recovered", covid_df_1["Recovered"].cast(IntegerType())).withColumn("Deaths",covid_df_1["Deaths"].cast(IntegerType()))
covid_df_1.printSchema()
covid_df.show(5)

root
 |-- Date: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Confirmed: string (nullable = true)
 |-- Recovered: string (nullable = true)
 |-- Deaths: string (nullable = true)

+----------+-----------+---------+---------+------+
|      Date|    Country|Confirmed|Recovered|Deaths|
+----------+-----------+---------+---------+------+
|2020-01-22|Afghanistan|        0|        0|     0|
|2020-01-23|Afghanistan|        0|        0|     0|
|2020-01-24|Afghanistan|        0|        0|     0|
|2020-01-25|Afghanistan|        0|        0|     0|
|2020-01-26|Afghanistan|        0|        0|     0|
+----------+-----------+---------+---------+------+
only showing top 5 rows

root
 |-- Date: date (nullable = true)
 |-- Country: string (nullable = true)
 |-- Confirmed: integer (nullable = true)
 |-- Recovered: integer (nullable = true)
 |-- Deaths: integer (nullable = true)

+----------+-----------+---------+---------+------+
|      Date|    Country|Confirmed|Recovered|Deaths|
+----------+-----------+---------+---------+------+
|2020-01-22|Afghanistan|        0|        0|     0|
|2020-01-23|Afghanistan|        0|        0|     0|
|2020-01-24|Afghanistan|        0|        0|     0|
|2020-01-25|Afghanistan|        0|        0|     0|
|2020-01-26|Afghanistan|        0|        0|     0|
+----------+-----------+---------+---------+------+
only showing top 5 rows

In [15]:
covid_df_1.count()

161568

In [16]:
#Looking for covid cases in January and Febrauary 2020 and loading it to different dataframe
covid_df_2 = covid_df_1.where(year(covid_df_1.Date) == 2020).where(month(covid_df_1.Date) >= 1).where(month(covid_df_1.Date) <= 2).sort(covid_df_1.Date, ascending=True)

covid_df_2.show(5)

+----------+-----------+---------+---------+------+
|      Date|    Country|Confirmed|Recovered|Deaths|
+----------+-----------+---------+---------+------+
|2020-01-22|    Albania|        0|        0|     0|
|2020-01-22|    Algeria|        0|        0|     0|
|2020-01-22|Afghanistan|        0|        0|     0|
|2020-01-22| Antarctica|        0|        0|     0|
|2020-01-22|    Andorra|        0|        0|     0|
+----------+-----------+---------+---------+------+
only showing top 5 rows

In [17]:
covid_df_2.filter(covid_df_1.Confirmed != 0).sort(covid_df_1.Date, ascending=True).show(5)

+----------+------------+---------+---------+------+
|      Date|     Country|Confirmed|Recovered|Deaths|
+----------+------------+---------+---------+------+
|2020-01-22|       China|      548|       28|    17|
|2020-01-22|Korea, South|        1|        0|     0|
|2020-01-22|       Japan|        2|        0|     0|
|2020-01-22|     Taiwan*|        1|        0|     0|
|2020-01-22|    Thailand|        4|        2|     0|
+----------+------------+---------+---------+------+
only showing top 5 rows

In [18]:
covid_df = covid_df_2.select(col('Date'),col('Confirmed')).groupby('Date').sum('Confirmed').alias('Total_cases').sort(['Date'],ascending=True)
covid_df.show()

+----------+--------------+
|      Date|sum(Confirmed)|
+----------+--------------+
|2020-01-22|           557|
|2020-01-23|           657|
|2020-01-24|           944|
|2020-01-25|          1437|
|2020-01-26|          2120|
|2020-01-27|          2929|
|2020-01-28|          5580|
|2020-01-29|          6169|
|2020-01-30|          8237|
|2020-01-31|          9927|
|2020-02-01|         12038|
|2020-02-02|         16787|
|2020-02-03|         19887|
|2020-02-04|         23899|
|2020-02-05|         27644|
|2020-02-06|         30806|
|2020-02-07|         34400|
|2020-02-08|         37131|
|2020-02-09|         40162|
|2020-02-10|         42771|
+----------+--------------+
only showing top 20 rows

In [19]:
ecom_dataframe.printSchema()

root
 |-- event_time: date (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: float (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

In [81]:
#Finding October 2019 Sales
oct_sales = ecom_dataframe.where(year(ecom_dataframe.event_time) == 2019).where(month(ecom_dataframe.event_time) == 10).where(ecom_dataframe.event_type == 'purchase').groupby('event_time').agg(count('event_time').alias('oct_count')).sort(['event_time'],ascending=True)

In [82]:
#Finding November 2019 Sales
nov_sales = ecom_dataframe.where(year(ecom_dataframe.event_time) == 2019).where(month(ecom_dataframe.event_time) == 11).where(ecom_dataframe.event_type == 'purchase').groupby('event_time').agg(count('event_time').alias('nov_count')).sort(['event_time'],ascending=True)

In [83]:
#Finding December 2019 Sales
dec_sales = ecom_dataframe.where(year(ecom_dataframe.event_time) == 2019).where(month(ecom_dataframe.event_time) == 12).where(ecom_dataframe.event_type == 'purchase').groupby('event_time').agg(count('event_time').alias('dec_count')).sort(['event_time'],ascending=True)

In [84]:
#Finding January 2020 Sales
jan_sales = ecom_dataframe.where(year(ecom_dataframe.event_time) == 2020).where(month(ecom_dataframe.event_time) == 1).where(ecom_dataframe.event_type == 'purchase').groupby('event_time').agg(count('event_time').alias('jan_count')).sort(['event_time'],ascending=True)

In [85]:
#Finding February 2020 Sales
feb_sales = ecom_dataframe.where(year(ecom_dataframe.event_time) == 2020).where(month(ecom_dataframe.event_time) == 2).where(ecom_dataframe.event_type == 'purchase').groupby('event_time').agg(count('event_time').alias('feb_count')).sort(['event_time'],ascending=True)

In [87]:
#Total Sales Each Month
ecom_dataframe.where(ecom_dataframe.event_type=='purchase').groupby(month(ecom_dataframe.event_time)).agg(count('event_type').alias('Total_Sales')).show()

+-----------------+-----------+
|month(event_time)|Total_Sales|
+-----------------+-----------+
|               10|     245624|
|               11|     322417|
|               12|     213176|
|                1|     263797|
|                2|     241993|
+-----------------+-----------+

In [63]:
oct1 = oct_sales.withColumn("Day",date_format(col('event_time'),"d"))
nov1 = nov_sales.withColumn("Day",date_format(col('event_time'),"d"))
dec1 = dec_sales.withColumn("Day",date_format(col('event_time'),"d"))
jan1 = jan_sales.withColumn("Day",date_format(col('event_time'),"d"))
feb1 = feb_sales.withColumn("Day",date_format(col('event_time'),"d"))
oct = oct1.withColumn("Day", oct1["Day"].cast(IntegerType()))
nov = nov1.withColumn("Day", nov1["Day"].cast(IntegerType()))
dec = dec1.withColumn("Day", dec1["Day"].cast(IntegerType()))
jan = jan1.withColumn("Day", jan1["Day"].cast(IntegerType()))
feb = feb1.withColumn("Day", feb1["Day"].cast(IntegerType()))

In [80]:
oct.join(nov,oct.Day == nov.Day,"left").join(dec, oct.Day == dec.Day,"left").join(jan, oct.Day == jan.Day,"left").join(feb, oct.Day == feb.Day,"left").select(oct.Day,oct.oct_count,nov.nov_count,jan.jan_count,feb.feb_count).sort([oct.Day],Ascending=True).show(31)

+---+---------+---------+---------+---------+
|Day|oct_count|nov_count|jan_count|feb_count|
+---+---------+---------+---------+---------+
|  1|     8476|     7761|     3269|     7435|
|  2|     9100|     7422|     4875|     8715|
|  3|     8865|     7798|     6031|     9998|
|  4|     7562|     8053|     6602|     8937|
|  5|     5940|     8887|     7227|     9503|
|  6|     7265|     8710|     6368|     9209|
|  7|     9376|    16489|     7564|     7880|
|  8|     8604|    16628|     7602|     7216|
|  9|     8464|     5442|     8774|     8642|
| 10|     8117|     6208|     8575|     8981|
| 11|     6922|     8921|     7470|     9440|
| 12|     6431|     8184|     8147|     9563|
| 13|     7088|     8434|    10138|     9088|
| 14|     8004|     7632|    10316|     6947|
| 15|     8299|     6860|     9962|     6035|
| 16|     9096|     7029|     9354|     7404|
| 17|     9236|     7937|     9265|     9037|
| 18|     7920|     9593|     6197|     8691|
| 19|     6064|     9243|     8168|     8934|
| 20|     6836|     8873|     9014|     8382|
| 21|     8872|    16123|     9165|     7557|
| 22|     8643|    22780|     9088|     6189|
| 23|     8714|    15483|     8700|     6231|
| 24|     8779|    20464|     8779|     8024|
| 25|     7024|     6990|     6766|     9718|
| 26|     5295|     8040|     8182|     9126|
| 27|     7816|     8209|    18314|     9726|
| 28|     8366|    16974|    17352|     8328|
| 29|     8472|    17992|     7605|     7057|
| 30|     7935|    13258|     7582|     null|
| 31|     8043|     null|     7346|     null|
+---+---------+---------+---------+---------+